token: <token>

# seconds
max_download_time: 30

# minutes
max_video_duration: 60

# tgbotapi logger
debug: false

# custom logger
logging: true

bot_username: <username>

# proxy address (proxy: http://user:pass@0.0.0.0:8888")
use_proxy: false
proxy: http://user:pass@0.0.0.0:8888

# youtube api key (444erwerAuzKxD1Xa3pv2sdfdfIjiLr48GpfNg6w)
use_youtube_api: false
youtube_api_key: <youtube_api_key>